* {
  box-sizing: border-box;
}

:root {
  --mau_nut: #ffb900;
}
html {
  font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* =======================all====================== */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.heading-lv2 {
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.02em;
  text-align: left;
}
.btn {
  display: inline-block;
  min-width: 118px;
  line-height: 50px;
  padding: 0 16px;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  border-radius: 999px;
  background: #171100;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Tối Ưu hóa tiêu đề và miêu tả trên trang: khi ng dùng nhập(thêm) nội dung
trên trang sẽ ko bj méo giao diện mà sẽ hiện 3 chấm */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}

/* tránh vỡ giao diện khi ng dùng nhập vào link quá dài(muốn ở đâu thì thêm vào đó) */
.break-all {
  word-break: break-all;
}

/* --------------------Hearder---------------------- */

.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
}
.body_hearder {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  font-size: 1.6rem;
  color: #5f5b53;
  padding: 8px 21px;
}
.nav a:hover,
.nav li.active a {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0px 0px currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.header .btn-SignUp {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}

/* -----------------------hero------------------- */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* ------hero left------ */
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .content-block {
  width: 52%;
}

.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  width: 270px;
  height: 244px;
  border-radius: 12px;
  background: #ffffff;
  padding: 24px;
  box-shadow: 0px 16px 32px 0px #0000000d;
}

.hero-summary .item {
  display: flex;
}

.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff9e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-summary .icon2 {
  background: #fcefff;
}

.hero-summary .icon3 {
  background: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .info .label {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.hero-summary .info .title {
  width: 119px;
  height: 30px;
  top: 593px;
  left: 523px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #171100;
}

/* --------hero right-------- */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.content-block .heading {
  width: 470px;
  height: 204px;
  top: 214px;
  left: 835px;
  gap: 0px;
  opacity: 0px;
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #171100;
}

.content-block .desc {
  margin-top: 22px;
  width: 470px;
  height: 90px;
  top: 440px;
  left: 835px;
  gap: 0px;
  opacity: 0px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  text-align: left;
}

.content-block .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 180px;
  background-color: var(--mau_nut);
  line-height: 64px;
}

.content-block .watch-video {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}

.cta-group .icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.07);
  align-items: center;
  justify-content: center;
  display: flex;
}

.watch-video span {
  margin-left: 14px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stats {
  margin-top: -40px;
}

.hero .stats strong {
  margin-right: 15px;
  color: #171100;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* ------------------popular----------------- */
.popular {
  padding: 70px 0;
  margin-top: 135px;
}

/* popular trên */
.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  font-size: 1.8rem;
  line-height: 1.67;
}

.popular-top {
  display: flex;
  justify-content: space-between;
}

.popular-top .control {
  display: flex;
  gap: 18px;
  align-items: center;
}
.popular-top .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--mau_nut);
  border: 1px solid var(--mau_nut);
}

.popular-top .control-btn:hover {
  background: var(--mau_nut);
  color: #fff;
}

/* popular dưới */
.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .course-item .thumb {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.popular .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .course-item .info {
  padding: 16px 22px 22px 22px;
}

.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .head .tittle {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  color: #171100;
}

.popular .tittle .value {
  margin-left: 6px;
  font-size: 1.6rem;
  line-height: 1.75;
  background: #fea31b;
}

.popular .course-item .desc {
  margin-top: 6px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  color: #5f5b53;
}

.popular .course-item .food {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.popular .course-item .food .price {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  color: #171100;
}

.popular .course-item .food .nutpopular {
  border: none;
}

.popular .course-item .food .nutpopular:hover {
  background: var(--mau_nut);
}

.popular .course-item:hover {
  border: 1px solid transparent;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  border: none;
}

/* ---------Feedback--------- */
.Feedback {
  margin-top: 135px;
  background: #2e2100;
  padding-top: 96px;
  padding-bottom: 96px;
}

.Feedback-list {
  display: flex;
  overflow: hidden;
}

.Feedback .Feedback-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.Feedback .info .avarta {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover; /* để ảnh ko bị méo */
}

.Feedback .peter {
  margin-top: 18px;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 34px;
  color: #f7f7f7;
}

.Feedback .Student {
  margin-top: 4px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  color: #bfbcb2;
  width: 159px;
}

.Feedback .dots {
  display: flex;
  gap: 6px;
  margin-top: 28px;
}

.Feedback .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.Feedback .dot.active {
  background-color: var(--mau_nut);
  cursor: default;
}

.Feedback .Feedback-item .content {
  width: 66%;
}

.Feedback-item blockquote {
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
  color: #ffffff;
}

/* ----------------Features 1----------------- */
.Features {
  margin-top: 135px;
  padding: 65px 0;
}

.Features .body {
  display: flex;
  justify-content: space-between;
}

.Features .imgs {
  display: flex;
  gap: 30px;
}

.Features .imgs img {
  width: 270px;
  height: 405px;
  border-radius: 16px;
  object-fit: cover;
}

.Features .lower {
  margin-top: 34px;
}

.Features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Features .desc {
  margin-top: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  color: #5f5b53;
}

.Features .cta-btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  background: var(--mau_nut);
}

/* --------Features 2 --------------*/
.Features .content2 {
  width: 49%;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Features .imgs2 img {
  width: 470px;
  height: 440px;
  border-radius: 20px;
}

/* ------------------Blogs----------------- */
.blogs {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}

.blogs .blogs-top {
  text-align: center;
}
.blogs .blogs-top h2 {
  text-align: center;
}

.blogs .blogs-top p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  width: 448px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.blogs .blogs-list {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}

.blogs .item {
  width: 33.33%;
  background: #ffffff;
}

.blogs .item .thumb {
  width: 370px;
  height: 250px;
  border-radius: 16px 16px 0px 0px;
  object-fit: cover;
}

.blogs .info {
  padding: 20px 20px 28px;
}

.blogs .info .date {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  color: #5f5b53;
  padding-bottom: 12px;
}

.blogs .item .date::before {
  content: "";
  margin-right: 4px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffb900;
}

.blogs .item .date::after {
  content: "";
  display: inline-block;
  width: 160px;
  height: 1px;
  border-radius: 0.5px 0px 0px 0px;
  background: #e2dfda;
  position: absolute;
  left: 0;
  bottom: 0;
}

.blogs .info .tittle {
  margin-top: 12px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px;
  color: #171100;
}

.blogs .info .read-btn {
  margin-top: 12px;
}

.blogs .info .read-btn:hover {
  background: var(--mau_nut);
}
